/* codice generico */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-wrap: wrap;
}

.container div{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 24px;
    font-weight: 700;
}

.fizz{
    background-image: url("../img/fizz");
    color: red;
}

.buzz{
    background-image: url("../img/buzz.jpg");
}

.fizzbuzz{
    background-image: url("../img/fizzbuzzSoda-3826799464.png");
}